*{
    font-family:Arial, Helvetica, sans-serif
}

html{
    font-size: 62.5%;
}
    
body {
    margin: 0;
    min-height: 100vh;
    font-size:1.6rem;
}

div#scoreboard {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background:url("./assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height:25em;
}

div#scoreboard .information {
    border-width: 2px; 
    border-style:ridge;
    border-color:color-mix(in srgb,  rgb(241, 17, 17) 60%, rgb(192, 192, 192) 40%);
    border-top-left-radius: 3em;
    border-top-right-radius: 3em;
    border-bottom-left-radius: 0.7em;
    border-bottom-right-radius: 0.7em;
    background: radial-gradient(rgb(69, 25, 112), rgb(0, 0, 0));
    color:rgb(255, 255, 255);
    padding: 0.5em 2em;
    text-transform: uppercase;
    font-size:1.8rem;
    box-shadow: 1px 4px 5px 0px rgb(150, 150, 150);
}

.players{
    display:flex;
    flex-direction: row;

}

.players .playerLeft, .players .playerRight{
    display:flex;
    justify-content: center;
    align-items: center;
    background-image: url("./assets/magicpattern-grid.png");
    background-repeat: no-repeat;
    background-size:30em auto;
    border-width: 2px; 
    border-style:ridge;
    border-color:color-mix(in srgb,  rgb(241, 17, 17) 60%, rgb(192, 192, 192) 30%);
    color:rgb(255, 255, 255);
    text-transform: uppercase;
    font-size:1.6rem;
    white-space: nowrap;
    padding:0.5em 1.5em;
    max-height:1.4em;
    box-shadow: 1px 4px 5px 0px rgb(150, 150, 150);
    flex:1 1 40%;
}

.players .playerLeft{
    border-top-left-radius: 3em;
    border-bottom-left-radius: 3em;
}

.players .playerRight{
    border-top-right-radius: 3em;
    border-bottom-right-radius: 3em;
}
.players .playerCenter{
    display:flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    padding: 0 2em;
    background:radial-gradient(rgb(69, 25, 112), rgb(0, 0, 0));
    box-shadow: 1px 4px 5px 0px rgb(150, 150, 150);
    color:rgb(255, 255, 255);
    font-size:1.6rem;
    flex:1;
}

.scores{
    display:flex;
    flex-direction:row;
    margin-top:0.5em;
}
.scores .playerLeftImg, .scores .playerRightImg {
    display:flex;
    background-repeat: no-repeat;
    background-size:30em auto;
    height:5em;
    width:10em;
    border-bottom-left-radius:10em;
    border-bottom-right-radius:10em;
    border-color:color-mix(in srgb,  rgb(241, 17, 17) 60%, rgb(192, 192, 192) 30%);
    border-width: 2px; 
    border-style:ridge;
    flex: 1 1 40%;

}
.scores .playerLeftImg{
    background-image: url("./assets/magicpattern-grid.png");
    transform: rotateY(38deg);
    box-shadow: -4px 3px 5px 0px rgb(150, 150, 150);
}

.scores .playerRightImg{
    background-image: url("./assets/magicpattern-grid.png");
    transform: rotateY(38deg);
    box-shadow: 4px 3px 5px 0px rgb(150, 150, 150);
}

/* playerScores leftScore rightScore */

.playerScores {
    display:flex;
    flex:1 1 60%;
    justify-content:center;
    align-items: center;
    background-image: url("./assets/score-bg.png");
    background-repeat: no-repeat;
    background-size:30em auto;
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
    border-bottom-left-radius:4em;
    border-bottom-right-radius:4em;
    border-color:color-mix(in srgb,  rgb(241, 17, 17) 60%, rgb(192, 192, 192) 30%);
    border-width: 2px; 
    border-style:ridge;
    gap:1em

}

.playerScores .leftScore, .playerScores .rightScore {
    display:flex;
    font-family: 'Score Board', sans-serif;
    font-size: 3.8rem;
    color:#fff;
    border-color:color-mix(in srgb,  rgb(207, 207, 207) 60%, rgb(192, 192, 192) 30%);
    border-width: 2px; 
    border-style:ridge;

}

#main{
    background-image: url("./assets/olympus-digital-camera.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    border-top: 0.2em ridge #cccccc;

}

#main .table {
    display:flex;
    border: 2px solid black;
    width:60vw;
    height:30vh;
    margin:auto;
    align-items:center;
    justify-content:space-between;
}

.table .leftPlayerChoices {
    display:flex;
    flex-direction:column;
}


.table .rightPlayerChoices {
    display:flex;
    flex-direction:column;
}

.disabled{
    cursor: not-allowed;
    pointer-events: none;
    color: #c0c0c0;
    background-color: #ffffff;

}
